<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cps.order.mapper.OrderMapper">
    <resultMap id="userMap" type="com.cps.order.entity.Orderd">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
    </resultMap>


    <insert id="save" parameterType="com.cps.order.entity.Orderd">
        insert into orderd (id,name,type) values (#{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR})
    </insert>
</mapper>